html
	head
		style(type="text/css").
			.result {
			width: 90%;
			height: 90%;
			background-color: lightblue;
			}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		
		body
			form(id="form", action='/searchuser', method='POST')
				p
				div(class="ui-widget")
					label(for='input') Search users by first or last name: 
					br
					input(type='text', id="tags", name='input', value='')
					input(type='submit', value='Submit')
					br
				button <a href="/">Back</a>
		script.
			function debounce(fn, delay) {
			var timer = null;
			return function () {
			var context = this, args = arguments;
			clearTimeout(timer);
			timer = setTimeout(function () {
			fn.apply(context, args);
			}, delay);
			};
			}
			$("#tags").keyup(debounce(function() {
			$.get('/sendJSON', function(response) {

			var usersArray = [];
			var users = response.users;
			function pushNames(){
			for(var i = 0; i < users.length; i++) {
				usersArray.push(users[i].firstname);
				usersArray.push(users[i].lastname);
			};
			};
			pushNames();
			console.log(usersArray);
			$( "#tags" ).autocomplete({
				source: usersArray,
				minLength: 2
				});
				});
				}, 300));